/* For styling the rendered Markdown */

#joplin-container-content,
#rendered-md,
#tinymce {
    background-color: #0E1415 !important;
}

/* Alabaster Dark */
.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.75rem;
    background: #0E1415;
    color: #CECECE;
    font-size: smaller;
    border-color: #708B8D;
    border-radius: 0.375rem;
    border-style: solid;
    border-width: 2px;
}

.hljs-keyword,
.hljs-built_in,
.hljs-type,
.hljs-operator,
.hljs-property,
.hljs-char.escape_,
.hljs-subst,
.hljs-symbol,
.hljs-variable,
.hljs-params,
.hljs-doctag,
.hljs-meta,
.hljs-meta-keyword,
.hljs-section,
.hljs-tag,
.hljs-name,
.hljs-attribute,
.hljs-selector-tag,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-template-tag,
.hljs-template-variable {
    color: #CECECE;
}

.hljs-punctuation {
    color: #708B8D;
}

.hljs-comment {
    color: #DFDF8E;
}

.hljs-regexp,
.hljs-string,
.hljs-meta-string,
.hljs-attr {
    color: #95CB82;
}

.hljs-number,
.hljs-literal {
    color: #CC8BC9;
}

.hljs-class,
.hljs-function,
.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_,
.hljs-title.function_.invoke__ {
    color: #71ADE7;
}

.hljs-addition {
    background-color: #ddffdd;
    color: #434343;
}

.hljs-deletion {
    background-color: #ffdddd;
    color: #434343;
}

/* Fixes */
.hljs-function .hljs-params {
    color: #CECECE;
}

.hljs-class .hljs-title {
    color: #71ADE7;
}

.hljs-literal .hljs-keyword {
    color: #CC8BC9;
}